.full-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.primary {
  color: #409eff;
}

.success {
  color: #67c23a;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
